@import './base.css';

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.logo-background-colour{
  background-color: #8E4739;
}

.action-btn{
  --bs-btn-bg: #8E4739;
  font-size: 30px;
  width: 80%;
  --bs-btn-hover-bg: #8a5e55;
  --bs-btn-active-bg: #4f2e27;
}

.login-field{
  height: 100px;
  padding-left: 6%;
}

.responsive-button {
  font-size: 1.5rem; /* Default size */
  padding: 0.75rem 1.5rem; 
}

@media (max-width: 767px) {
  .responsive-button {
    font-size: 20px;
    padding: 0.5rem 1rem;
  }
}


h2{
  font-weight: bold;
}

h1{
  font-weight: bolder;
}