@import './base.css';

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.logo-background-colour{
  background-color: #8E4739;
}

.login-submit{
  --bs-btn-bg: #8E4739;
  font-size: 32px;
  width: 80%;
  --bs-btn-hover-bg: #8a5e55;
  --bs-btn-active-bg: #4f2e27;
}

.login-field{
  height: 100px;
  padding-left: 6%;
}
